<div class="toolbar"><img width="40" alt="Angular Logo" src="assets/angular.svg" />
  <span>Angular Tutorials</span>
  <div class="spacer"></div>
  <h3>Wave Tutorials</h3>
  <div class="spacer"></div>
</div>
<div class="header">{{title}}</div>
<hr />
<div class="content">

  <button class="btn" (click)="GetEmployees()">Get All Employees</button>
  <br />
  <table>
    <tr>
      <th>Index</th>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>First/Last Element</th>
      <th>Even/Odd Element</th>
    </tr>
    <tr *ngFor="let item of employees; trackBy:TrackByEmployees; let indexOfElement=index,let firstElement=first,let lastElement=last, let evenElement=even, let oddElement=odd">
      <td>{{indexOfElement }}</td>
      <td>{{item.id }}</td>
      <td>{{item.name }}</td>
      <td>{{item.age }}</td>
      <td>
        <span *ngIf="firstElement">First Element</span>
        <span *ngIf="lastElement">Last Element</span>
      </td>
      <td>
        <span *ngIf="evenElement">Even</span>
        <span *ngIf="oddElement">Odd</span>
      </td>
    </tr>

    <tr *ngIf="!employees || employees.length === 0">
      <td colspan="6" [ngStyle]="{'text-align':'center'}">No Records</td>
    </tr>
  </table>

</div>

<router-outlet></router-outlet>